iot/pi/docker/node/red/data/flows.json
[
    {
        "id": "ab32da05.2378e8",
        "type": "tab",
        "label": "ms",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ccf72283.cbb12",
        "type": "tab",
        "label": "events",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c4d1768a.eec298",
        "type": "tab",
        "label": "management",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6937232.3eb3cdc",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Verdana,Verdana,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "cw",
                "default": "#4B7930",
                "baseColor": "#800000",
                "baseFont": "Arial Narrow,Nimbus Sans L,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Verdana,Verdana,Geneva,sans-serif"
                }
            }
        },
        "site": {
            "name": "Albatross Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c9a234ed.931db8",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "2dc12926.ae3886",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "a6b65a28.07a538",
        "type": "ui_group",
        "z": "",
        "name": "Group 1",
        "tab": "c9a234ed.931db8",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "fb717afe.119f18",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "2dc12926.ae3886",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "5106c9ab.8d3138",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "2dc12926.ae3886",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "3b1b248.276a6dc",
        "type": "comment",
        "z": 0,
        "name": "Provision Project",
        "info": "",
        "x": 100,
        "y": 80,
        "wires": []
    },
    {
        "id": "6b8108a3.48eaa8",
        "type": "function",
        "z": 0,
        "name": "entry",
        "func": "msg.payload = {\n    \"status\":\"UP\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "77889645.966518",
        "type": "function",
        "z": 0,
        "name": "entry",
        "func": "msg.payload = {\n    \"version\":\"17.11.04\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "dcece0f4.a9922",
        "type": "function",
        "z": 0,
        "name": "entry",
        "func": "msg.payload = {\n    \"status\":\"UP\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "b4a834f1.c66f68",
        "type": "function",
        "z": 0,
        "name": "entry",
        "func": "var obj = msg.payload\n\nif (typeof obj == \"string\") {\n    obj = JSON.parse(msg.payload)\n}\n\n\nvar jmsg = {\n    \"parameter\": [\n        {\"name\":\"PROJECT_NAME\", \"value\":\"IaC\"},\n        {\"name\":\"DOCKER_TARGETS\", \"value\":obj[\"project-environment\"]},\n        {\"name\":\"REPO_URL\", \"value\":\"https://github.com/IaC/templates.git\"},\n        {\"name\":\"REPO_BRANCH\", \"value\":\"master\"},\n        {\"name\":\"VAULT_URL\", \"value\":\"github.com/raw/Albatross-Armadillo-Templates/vault/master\"},\n        {\"name\":\"VAULT_CREDENTIALS\", \"value\":\"ghe_bot_creds_id\"},\n        {\"name\":\"REPO_CRED_ID\", \"value\":\"ghe_bot_creds_id\"},\n        {\"name\":\"flag-project-name\", \"value\":obj[\"project-name\"]},\n        {\"name\":\"flag-project-description\", \"value\":obj[\"project-name\"]},\n        {\"name\":\"flag-project-environment\", \"value\":obj[\"project-environment\"]},        \n        {\"name\":\"flag-template\", \"value\":obj[\"template\"]},\n        {\"name\":\"flag-provider\", \"value\":obj[\"provider\"]},        \n        {\"name\":\"flag-command\", \"value\":obj[\"command\"]}]};\n        \n//var builderServer=process.env['JENKINS_MASTER']\nvar builderServer='builder:8080'\nvar jobName=\"albatross-provision-github\"\n\nvar str = JSON.stringify(jmsg)\n\nvar command = \"curl --user jenkins:jenkins -X POST http://\"+builderServer+\"/job/\" + jobName + \"/build  --data-urlencode json='\"+str+ \"'\"\n\nmsg.payload = command\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "7aa9e64.214bb18",
        "type": "function",
        "z": 0,
        "name": "entry",
        "func": "\nvar url =\"http://google.com\"\n\nmsg.statusCode = 301;\nmsg.headers = {\n    location: url\n}\nmsg.payload = \"\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 781,
        "wires": [
            []
        ]
    },
    {
        "id": "fd31384b.e5ed38",
        "type": "function",
        "z": 0,
        "name": "entry",
        "func": "var obj = msg.payload\n\nif (typeof obj == \"string\") {\n    obj = JSON.parse(msg.payload)\n}\n\n\nvar jmsg = {\n    \"parameter\": [\n        {\"name\":\"PROJECT_NAME\", \"value\":\"IaC\"},\n        {\"name\":\"DOCKER_TARGETS\", \"value\":\"none\"},\n        {\"name\":\"REPO_URL\", \"value\":\"https://github.com/IaC/templates.git\"},\n        {\"name\":\"REPO_BRANCH\", \"value\":\"master\"},\n        {\"name\":\"VAULT_URL\", \"value\":\"github.com/raw/IaC/vault/master\"},\n        {\"name\":\"VAULT_CREDENTIALS\", \"value\":\"ghe_bot_creds_id\"},\n        {\"name\":\"REPO_CRED_ID\", \"value\":\"ghe_bot_creds_id\"},\n        {\"name\":\"flag-project-name\", \"value\":obj[\"project-name\"]},\n        {\"name\":\"flag-project-environment\", \"value\":obj[\"project-environment\"]},\n        {\"name\":\"flag-template\", \"value\":obj[\"template\"]},\n        {\"name\":\"flag-provider\", \"value\":obj[\"provider\"]},        \n        {\"name\":\"flag-command\", \"value\":obj[\"command\"]}]};\n        \n//var builderServer=process.env['JENKINS_MASTER']\nvar builderServer='builder:8080'\nvar jobName=\"albatross-provision-desktops\"\n\nvar str = JSON.stringify(jmsg)\n\nvar command = \"curl --user jenkins:jenkins -X POST http://\"+builderServer+\"/job/\" + jobName + \"/build  --data-urlencode json='\"+str+ \"'\"\n\nmsg.payload = command\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 422,
        "y": 915,
        "wires": [
            []
        ]
    },
    {
        "id": "9974ba53.9ad1d8",
        "type": "comment",
        "z": 0,
        "name": "Secret",
        "info": "",
        "x": 78,
        "y": 50,
        "wires": []
    },
    {
        "id": "d3e086d7.bb78c8",
        "type": "function",
        "z": 0,
        "name": "entry",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 437,
        "y": 341,
        "wires": [
            [
                "930ce691.2e9b98",
                "46de09df.61f398"
            ]
        ]
    },
    {
        "id": "930ce691.2e9b98",
        "type": "debug",
        "z": 0,
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1131,
        "y": 625,
        "wires": []
    },
    {
        "id": "46de09df.61f398",
        "type": "function",
        "z": 0,
        "name": "masagge-data",
        "func": "var command = {\n    app:\"AAT1\",\n    environment:\"dev\",\n    secret:\"HELLO\"\n};\n\nmsg.method=msg.req.method\nmsg.app= msg.req.params.app\nmsg.environment= msg.req.params.environment\nmsg.secret= msg.req.params.secret\n\n//msg.payload = command\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 728,
        "y": 343,
        "wires": [
            []
        ]
    },
    {
        "id": "a0e2f77.eab4b08",
        "type": "http in",
        "z": 0,
        "name": "",
        "url": "/provision/cluster",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 142,
        "y": 637,
        "wires": [
            [
                "d2c079c1.5ff928",
                "ddd44833.6a4c98"
            ]
        ]
    },
    {
        "id": "ddd44833.6a4c98",
        "type": "debug",
        "z": 0,
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 662,
        "y": 737,
        "wires": []
    },
    {
        "id": "d296fa04.a909b8",
        "type": "http response",
        "z": 0,
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1082,
        "y": 637,
        "wires": []
    },
    {
        "id": "d2c079c1.5ff928",
        "type": "function",
        "z": 0,
        "name": "entry",
        "func": "var obj = msg.payload\n\nif (typeof obj == \"string\") {\n    obj = JSON.parse(msg.payload)\n}\n\n\nvar jmsg = {\n    \"parameter\": [\n        {\"name\":\"PROJECT_NAME\", \"value\":\"IaC\"},\n        {\"name\":\"DOCKER_TARGETS\", \"value\":obj[\"project-environment\"]},\n        {\"name\":\"REPO_URL\", \"value\":\"https://github.com/IaC/templates.git\"},\n        {\"name\":\"REPO_BRANCH\", \"value\":\"master\"},\n        {\"name\":\"VAULT_URL\", \"value\":\"github.com/raw/Albatross-Armadillo-Templates/vault/master\"},\n        {\"name\":\"VAULT_CREDENTIALS\", \"value\":\"ghe_bot_creds_id\"},\n        {\"name\":\"REPO_CRED_ID\", \"value\":\"ghe_bot_creds_id\"},\n        {\"name\":\"flag-project-name\", \"value\":obj[\"project-name\"]},\n        {\"name\":\"flag-project-environment\", \"value\":obj[\"project-environment\"]},\n        {\"name\":\"flag-template\", \"value\":obj[\"template\"]},\n        {\"name\":\"flag-provider\", \"value\":obj[\"provider\"]},\n        {\"name\":\"flag-proj-vault-url\", \"value\":obj[\"proj-vault-url\"]},\n        {\"name\":\"flag-command\", \"value\":obj[\"command\"]}]};\n        \n//var builderServer=process.env['JENKINS_MASTER']\nvar builderServer='builder:8080'\nvar jobName=\"albatross-provision-cluster\"\n\nvar str = JSON.stringify(jmsg)\n\nvar command = \"curl --user jenkins:jenkins -X POST http://\"+builderServer+\"/job/\" + jobName + \"/build  --data-urlencode json='\"+str+ \"'\"\n\nmsg.payload = command\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 422,
        "y": 637,
        "wires": [
            [
                "3aca108d.9bd57",
                "ddd44833.6a4c98"
            ]
        ]
    },
    {
        "id": "3aca108d.9bd57",
        "type": "exec",
        "z": 0,
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 642,
        "y": 637,
        "wires": [
            [
                "82ac9fe7.148f4"
            ],
            [],
            []
        ]
    },
    {
        "id": "82ac9fe7.148f4",
        "type": "function",
        "z": 0,
        "name": "",
        "func": "var obj = {\n    \"uuid\":\"some-uuid-goes-here\"\n}\n\nmsg.payload= obj;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 862,
        "y": 637,
        "wires": [
            [
                "d296fa04.a909b8"
            ]
        ]
    },
    {
        "id": "f9321c9d.3353a",
        "type": "comment",
        "z": 0,
        "name": "Provision Cluster",
        "info": "",
        "x": 112,
        "y": 557,
        "wires": []
    },
    {
        "id": "8c5a78c7.eee528",
        "type": "http response",
        "z": 0,
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1224,
        "y": 151,
        "wires": []
    },
    {
        "id": "14cd4f7e.17a2b1",
        "type": "http request",
        "z": 0,
        "name": "",
        "method": "use",
        "ret": "txt",
        "url": "http://{{{servername}}}/api/provision/cluster",
        "tls": "",
        "x": 786,
        "y": 229,
        "wires": [
            [
                "b9749b6b.6db318",
                "f9de1c59.64ac2"
            ]
        ]
    },
    {
        "id": "b9749b6b.6db318",
        "type": "debug",
        "z": 0,
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 791,
        "y": 265,
        "wires": []
    },
    {
        "id": "c602b9c1.118868",
        "type": "function",
        "z": 0,
        "name": "provision-cluster",
        "func": "\nmsg.method=msg.req.method\nmsg.servername=msg.req.headers.host\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 582,
        "y": 229,
        "wires": [
            [
                "14cd4f7e.17a2b1"
            ]
        ]
    },
    {
        "id": "f9de1c59.64ac2",
        "type": "function",
        "z": 0,
        "name": "end",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1046,
        "y": 152,
        "wires": [
            [
                "8c5a78c7.eee528"
            ]
        ]
    },
    {
        "id": "7605593b.2d84a8",
        "type": "function",
        "z": 0,
        "name": "entry",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 379,
        "y": 158,
        "wires": [
            [
                "c602b9c1.118868",
                "8fe41d81.00902"
            ]
        ]
    },
    {
        "id": "6c6a3d78.1f2d24",
        "type": "http request",
        "z": 0,
        "name": "",
        "method": "use",
        "ret": "txt",
        "url": "http://{{{servername}}}/api/provision/github",
        "tls": "",
        "x": 783,
        "y": 128,
        "wires": [
            [
                "3ceb502a.263dd",
                "f9de1c59.64ac2"
            ]
        ]
    },
    {
        "id": "3ceb502a.263dd",
        "type": "debug",
        "z": 0,
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 788,
        "y": 164,
        "wires": []
    },
    {
        "id": "8fe41d81.00902",
        "type": "function",
        "z": 0,
        "name": "provision-github",
        "func": "\nmsg.method=msg.req.method\nmsg.servername=msg.req.headers.host\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 579,
        "y": 128,
        "wires": [
            [
                "6c6a3d78.1f2d24"
            ]
        ]
    },
    {
        "id": "ef69dc4c.93f57",
        "type": "comment",
        "z": 0,
        "name": "Keys",
        "info": "",
        "x": 93,
        "y": 573,
        "wires": []
    },
    {
        "id": "fbed67da.4be1a8",
        "type": "http in",
        "z": 0,
        "name": "",
        "url": "/vault/:app/:environment",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 173,
        "y": 657,
        "wires": [
            [
                "f7131a9e.0418c8"
            ]
        ]
    },
    {
        "id": "f7131a9e.0418c8",
        "type": "function",
        "z": 0,
        "name": "entry",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 421,
        "y": 659,
        "wires": [
            [
                "2e155bab.13b214",
                "122ba0e3.41950f"
            ]
        ]
    },
    {
        "id": "2e155bab.13b214",
        "type": "debug",
        "z": 0,
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 691,
        "y": 783,
        "wires": []
    },
    {
        "id": "122ba0e3.41950f",
        "type": "http response",
        "z": 0,
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 860,
        "y": 662,
        "wires": []
    },
    {
        "id": "c7d8351d.1d48c8",
        "type": "http in",
        "z": 0,
        "name": "",
        "url": "/vault/:app/:environment",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 171,
        "y": 733,
        "wires": [
            [
                "f7131a9e.0418c8"
            ]
        ]
    },
    {
        "id": "d082e714.fb5488",
        "type": "function",
        "z": 0,
        "name": "end",
        "func": "var obj = {\n    \"uuid\":\"some-uuid-goes-here\"\n}\n\nmsg.payload= obj;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1044,
        "y": 391,
        "wires": [
            []
        ]
    },
    {
        "id": "8f4a7b21.a2db18",
        "type": "comment",
        "z": "c4d1768a.eec298",
        "name": "Healthcheck",
        "info": "",
        "x": 99,
        "y": 83,
        "wires": []
    },
    {
        "id": "ec985a0c.186fd8",
        "type": "http in",
        "z": "c4d1768a.eec298",
        "name": "",
        "url": "/management/health",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 155,
        "y": 163,
        "wires": [
            [
                "a367212c.d85b4",
                "7b109a.2872df68"
            ]
        ]
    },
    {
        "id": "a367212c.d85b4",
        "type": "function",
        "z": "c4d1768a.eec298",
        "name": "entry",
        "func": "msg.payload = {\n    \"status\":\"UP\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "6861f764.d06228",
                "7b109a.2872df68"
            ]
        ]
    },
    {
        "id": "6861f764.d06228",
        "type": "http response",
        "z": "c4d1768a.eec298",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 688,
        "y": 155,
        "wires": []
    },
    {
        "id": "e4bc5bca.8086f8",
        "type": "comment",
        "z": "c4d1768a.eec298",
        "name": "Version",
        "info": "",
        "x": 79,
        "y": 251,
        "wires": []
    },
    {
        "id": "2f9c3992.470dc6",
        "type": "function",
        "z": "c4d1768a.eec298",
        "name": "entry",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 320,
        "wires": [
            [
                "ca9e2c93.405ee",
                "b11e7932.ffe438"
            ]
        ]
    },
    {
        "id": "2de1acbb.f50f94",
        "type": "http response",
        "z": "c4d1768a.eec298",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1270,
        "y": 320,
        "wires": []
    },
    {
        "id": "b4debb4a.8446e8",
        "type": "http in",
        "z": "c4d1768a.eec298",
        "name": "",
        "url": "/version",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "2f9c3992.470dc6",
                "ca9e2c93.405ee"
            ]
        ]
    },
    {
        "id": "57aada97.539284",
        "type": "http in",
        "z": "c4d1768a.eec298",
        "name": "",
        "url": "/ping",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "e9d50056.73b2f",
                "438f1d14.0c1114"
            ]
        ]
    },
    {
        "id": "1fd074f5.77d69b",
        "type": "http response",
        "z": "c4d1768a.eec298",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 540,
        "wires": []
    },
    {
        "id": "e9d50056.73b2f",
        "type": "function",
        "z": "c4d1768a.eec298",
        "name": "entry",
        "func": "msg.payload = \"PONG\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 540,
        "wires": [
            [
                "1fd074f5.77d69b",
                "438f1d14.0c1114"
            ]
        ]
    },
    {
        "id": "f8e476ea.bcf778",
        "type": "comment",
        "z": "c4d1768a.eec298",
        "name": "Ping",
        "info": "",
        "x": 78,
        "y": 434,
        "wires": []
    },
    {
        "id": "2924e07e.2767a",
        "type": "comment",
        "z": "c4d1768a.eec298",
        "name": "Swagger",
        "info": "",
        "x": 87,
        "y": 721,
        "wires": []
    },
    {
        "id": "cf939e8f.28d01",
        "type": "function",
        "z": "c4d1768a.eec298",
        "name": "entry",
        "func": "\nvar url =\"http://google.com\"\n\nmsg.statusCode = 301;\nmsg.headers = {\n    location: url\n}\nmsg.payload = \"\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 781,
        "wires": [
            [
                "d43639e2.c28ea8",
                "b6736b09.903958"
            ]
        ]
    },
    {
        "id": "d43639e2.c28ea8",
        "type": "http response",
        "z": "c4d1768a.eec298",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 678,
        "y": 781,
        "wires": []
    },
    {
        "id": "8f7d1ff.f8376e",
        "type": "http in",
        "z": "c4d1768a.eec298",
        "name": "",
        "url": "/api-docs2",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 773,
        "wires": [
            [
                "cf939e8f.28d01",
                "b6736b09.903958"
            ]
        ]
    },
    {
        "id": "b6736b09.903958",
        "type": "debug",
        "z": "c4d1768a.eec298",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 619,
        "y": 860,
        "wires": []
    },
    {
        "id": "438f1d14.0c1114",
        "type": "debug",
        "z": "c4d1768a.eec298",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 614,
        "y": 616,
        "wires": []
    },
    {
        "id": "7b109a.2872df68",
        "type": "debug",
        "z": "c4d1768a.eec298",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 470,
        "y": 200,
        "wires": []
    },
    {
        "id": "ca9e2c93.405ee",
        "type": "debug",
        "z": "c4d1768a.eec298",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 490,
        "y": 360,
        "wires": []
    },
    {
        "id": "7804756f.06ebcc",
        "type": "http in",
        "z": "ccf72283.cbb12",
        "name": "",
        "url": "/event/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 133,
        "y": 113,
        "wires": [
            [
                "f934bf61.4fa99",
                "125c1350.9e38cd"
            ]
        ]
    },
    {
        "id": "f934bf61.4fa99",
        "type": "debug",
        "z": "ccf72283.cbb12",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 508.5,
        "y": 112,
        "wires": []
    },
    {
        "id": "2da8c69e.1184ba",
        "type": "http response",
        "z": "ccf72283.cbb12",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 817,
        "y": 109,
        "wires": []
    },
    {
        "id": "125c1350.9e38cd",
        "type": "function",
        "z": "ccf72283.cbb12",
        "name": "controller",
        "func": "\nvar result = {\n    \"status\": \"IN-PROGRESS\",\n    \"request-id\": \"some-uuid-goes-here\",\n    \"msg\": msg.payload\n    \n};\n\nmsg.payload = result;\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 499,
        "y": 191,
        "wires": [
            [
                "2da8c69e.1184ba",
                "89c1d06f.ca63e"
            ]
        ]
    },
    {
        "id": "89c1d06f.ca63e",
        "type": "toQueue",
        "z": "ccf72283.cbb12",
        "name": "event",
        "callback": "",
        "x": 815,
        "y": 234,
        "wires": [
            []
        ]
    },
    {
        "id": "1fc4b142.55eecf",
        "type": "http in",
        "z": "ccf72283.cbb12",
        "name": "",
        "url": "/event/",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 122,
        "y": 156,
        "wires": [
            [
                "f934bf61.4fa99",
                "125c1350.9e38cd"
            ]
        ]
    },
    {
        "id": "1e2e7363.80459d",
        "type": "http in",
        "z": "ccf72283.cbb12",
        "name": "",
        "url": "/event",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 121.5,
        "y": 197,
        "wires": [
            [
                "f934bf61.4fa99",
                "125c1350.9e38cd"
            ]
        ]
    },
    {
        "id": "bef3dc7a.eee56",
        "type": "http in",
        "z": "ccf72283.cbb12",
        "name": "",
        "url": "/event/:id",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 131.5,
        "y": 241,
        "wires": [
            [
                "f934bf61.4fa99",
                "125c1350.9e38cd"
            ]
        ]
    },
    {
        "id": "47d3deb3.c365c",
        "type": "http in",
        "z": "ccf72283.cbb12",
        "name": "",
        "url": "/event",
        "method": "patch",
        "upload": false,
        "swaggerDoc": "",
        "x": 122.5,
        "y": 286,
        "wires": [
            [
                "f934bf61.4fa99",
                "125c1350.9e38cd"
            ]
        ]
    },
    {
        "id": "b45da49a.96fdf8",
        "type": "comment",
        "z": "ccf72283.cbb12",
        "name": "Events",
        "info": "",
        "x": 92,
        "y": 47,
        "wires": []
    },
    {
        "id": "cf9ce17b.eacc8",
        "type": "comment",
        "z": "ccf72283.cbb12",
        "name": "Call Backs",
        "info": "",
        "x": 101.5,
        "y": 432,
        "wires": []
    },
    {
        "id": "f239d8c1.0e9d38",
        "type": "http in",
        "z": "ccf72283.cbb12",
        "name": "",
        "url": "/callback",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 135.5,
        "y": 505,
        "wires": [
            [
                "98ca9ac1.f08968",
                "2a789a87.eb8736"
            ]
        ]
    },
    {
        "id": "98ca9ac1.f08968",
        "type": "function",
        "z": "ccf72283.cbb12",
        "name": "process",
        "func": "var jwt = global.get('jsonwebtoken');\n\nvar token = msg.req.query.context\n\nvar decoded = jwt.decode(token);\n\nmsg.callback = decoded.callback\nmsg.method=msg.req.method\nmsg.payload = decoded.payload;\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 500,
        "wires": [
            [
                "55c83162.801f2",
                "5b8157a1.738c78"
            ]
        ]
    },
    {
        "id": "ef8a1f83.198be",
        "type": "http response",
        "z": "ccf72283.cbb12",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 950,
        "y": 500,
        "wires": []
    },
    {
        "id": "2a789a87.eb8736",
        "type": "debug",
        "z": "ccf72283.cbb12",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 330,
        "y": 560,
        "wires": []
    },
    {
        "id": "8c42309a.9485b",
        "type": "http in",
        "z": "ccf72283.cbb12",
        "name": "",
        "url": "/callback",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 136.5,
        "y": 548,
        "wires": [
            [
                "98ca9ac1.f08968",
                "2a789a87.eb8736"
            ]
        ]
    },
    {
        "id": "e6edfb33.451b28",
        "type": "http in",
        "z": "ab32da05.2378e8",
        "name": "GET",
        "url": "/service/:service*",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 102.5,
        "y": 342,
        "wires": [
            [
                "bbe1ac54.de24a"
            ]
        ]
    },
    {
        "id": "280d49a9.9a76f6",
        "type": "function",
        "z": "ab32da05.2378e8",
        "name": "default",
        "func": "msg.method = msg.req.method;\nmsg.service= msg.req.params.service;\n\nmsg.xparams = \"\";\n\nif (msg.req.params) {\n    msg.xparams += msg.req.params['0'];\n    \n    if (!msg.xparams.startsWith(\"/\")) {\n        msg.xparams = \"/\" + msg.xparams;\n    }\n}\n\nvar query=\"\"\nif (msg.req.query) {\n    Object.keys(msg.req.query).forEach(function (key) {\n\n        var value = msg.req.query[key];\n        \n        if (query.length>0) {\n            query +=\"&\"\n        }\n        query +=`${key}=${value}`\n    });\n        \n    \n    if (query.length>0) {\n        msg.xparams += `?${query}`   \n    }\n    \n}\n\n\nconsole.log(`PARAMS: ${msg.xparams}`)\n\n//msg.payload = command\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 639.5,
        "y": 492,
        "wires": [
            [
                "38bc35eb.f5cd1a"
            ]
        ]
    },
    {
        "id": "38bc35eb.f5cd1a",
        "type": "http request",
        "z": "ab32da05.2378e8",
        "name": "callService",
        "method": "use",
        "ret": "txt",
        "url": "http://{{{service}}}:3000{{{xparams}}}",
        "tls": "",
        "x": 857.5,
        "y": 491,
        "wires": [
            [
                "8361c01a.a07ea",
                "eded52df.88ef"
            ]
        ]
    },
    {
        "id": "8361c01a.a07ea",
        "type": "http response",
        "z": "ab32da05.2378e8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1055.5,
        "y": 423,
        "wires": []
    },
    {
        "id": "2489f858.ce09c8",
        "type": "http in",
        "z": "ab32da05.2378e8",
        "name": "POST",
        "url": "/service/:service*",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 102.5,
        "y": 381,
        "wires": [
            [
                "bbe1ac54.de24a"
            ]
        ]
    },
    {
        "id": "eded52df.88ef",
        "type": "debug",
        "z": "ab32da05.2378e8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1050.5,
        "y": 586,
        "wires": []
    },
    {
        "id": "bbe1ac54.de24a",
        "type": "function",
        "z": "ab32da05.2378e8",
        "name": "start",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 294.5,
        "y": 411,
        "wires": [
            [
                "c696a7a.abd5658",
                "c70cafe1.2de4c"
            ]
        ]
    },
    {
        "id": "c696a7a.abd5658",
        "type": "debug",
        "z": "ab32da05.2378e8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 446.5,
        "y": 357,
        "wires": []
    },
    {
        "id": "df8ada9b.6dc4d8",
        "type": "http in",
        "z": "ab32da05.2378e8",
        "name": "PUT",
        "url": "/service/:service*",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 100.5,
        "y": 427,
        "wires": [
            [
                "bbe1ac54.de24a"
            ]
        ]
    },
    {
        "id": "d1708bf9.58a0a8",
        "type": "http in",
        "z": "ab32da05.2378e8",
        "name": "DELETE",
        "url": "/service/:service*",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 110.5,
        "y": 475,
        "wires": [
            [
                "bbe1ac54.de24a"
            ]
        ]
    },
    {
        "id": "31ba2d77.749fe2",
        "type": "http in",
        "z": "ab32da05.2378e8",
        "name": "PATCH",
        "url": "/service/:service*",
        "method": "patch",
        "upload": false,
        "swaggerDoc": "",
        "x": 99.5,
        "y": 520,
        "wires": [
            [
                "bbe1ac54.de24a"
            ]
        ]
    },
    {
        "id": "cb1272e9.b8af9",
        "type": "comment",
        "z": "ab32da05.2378e8",
        "name": "Gateway",
        "info": "",
        "x": 99.5,
        "y": 66,
        "wires": []
    },
    {
        "id": "d25fe476.3b1938",
        "type": "function",
        "z": "ab32da05.2378e8",
        "name": "if-echo",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 275,
        "wires": [
            [
                "88869d0e.3c47"
            ]
        ]
    },
    {
        "id": "88869d0e.3c47",
        "type": "http response",
        "z": "ab32da05.2378e8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1049.5,
        "y": 275,
        "wires": []
    },
    {
        "id": "c70cafe1.2de4c",
        "type": "switch",
        "z": "ab32da05.2378e8",
        "name": "",
        "property": "req.params.service",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "echo",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 459.5,
        "y": 412,
        "wires": [
            [
                "d25fe476.3b1938"
            ],
            [
                "280d49a9.9a76f6"
            ]
        ]
    },
    {
        "id": "ca2b9f11.9b5e1",
        "type": "catch",
        "z": "ab32da05.2378e8",
        "name": "on-error",
        "scope": null,
        "x": 649.5,
        "y": 102,
        "wires": [
            [
                "e279d391.f2e7a"
            ]
        ]
    },
    {
        "id": "4daa21d.42f41e",
        "type": "http response",
        "z": "ab32da05.2378e8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1057.5,
        "y": 102,
        "wires": []
    },
    {
        "id": "e279d391.f2e7a",
        "type": "function",
        "z": "ab32da05.2378e8",
        "name": "message",
        "func": "msg.payload = {\n    \"error\": msg.error.message\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 862.5,
        "y": 101,
        "wires": [
            [
                "4daa21d.42f41e",
                "d335f609.093f08"
            ]
        ]
    },
    {
        "id": "d335f609.093f08",
        "type": "debug",
        "z": "ab32da05.2378e8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1055.5,
        "y": 159,
        "wires": []
    },
    {
        "id": "2e8c1c7d.6b2944",
        "type": "comment",
        "z": "ccf72283.cbb12",
        "name": "Dummy",
        "info": "",
        "x": 90.5,
        "y": 671,
        "wires": []
    },
    {
        "id": "c78eecaf.36d9f",
        "type": "http in",
        "z": "ccf72283.cbb12",
        "name": "",
        "url": "/dummy",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 129.5,
        "y": 733,
        "wires": [
            [
                "97e0d9fb.124a08"
            ]
        ]
    },
    {
        "id": "97e0d9fb.124a08",
        "type": "function",
        "z": "ccf72283.cbb12",
        "name": "",
        "func": "var jwt = global.get('jsonwebtoken');\n\n\n\nvar obj = msg.payload\n\nif (obj !== null) {\n    if (typeof obj == \"string\") {\n        obj = JSON.parse(msg.payload)\n    }\n}\n\nvar callback = obj[\"callback\"]\n\n\nvar jmsg = {\n    \"parameter\": [\n        {\"name\":\"PROJECT_NAME\", \"value\":\"IaC\"},\n        //{\"name\":\"DOCKER_TARGETS\", \"value\":obj[\"project-environment\"]},\n        {\"name\":\"REPO_URL\", \"value\":\"https://github.com/IaC/templates.git\"},\n        {\"name\":\"REPO_BRANCH\", \"value\":\"master\"},\n        {\"name\":\"VAULT_URL\", \"value\":\"github.com/raw/Albatross-Armadillo-Templates/vault/master\"},\n        {\"name\":\"VAULT_CREDENTIALS\", \"value\":\"ghe_bot_creds_id\"},\n        {\"name\":\"REPO_CRED_ID\", \"value\":\"ghe_bot_creds_id\"},\n        //{\"name\":\"flag-project-name\", \"value\":obj[\"project-name\"]},\n        //{\"name\":\"flag-project-environment\", \"value\":obj[\"project-environment\"]},        \n        //{\"name\":\"flag-template\", \"value\":obj[\"template\"]},\n        //{\"name\":\"flag-provider\", \"value\":obj[\"provider\"]},        \n        //{\"name\":\"flag-command\", \"value\":obj[\"command\"]}\n        {\"name\":\"flag-send-notifications-callback\", \"value\":callback!=null?\"yes\":\"no\" },\n        {\"name\":\"flag-send-notifications-callback-url\", \"value\":callback!=null?callback:\"\" }\n        \n    ]\n};\n        \n\n\nvar str = JSON.stringify(jmsg)\n\nmsg.payload = 'json='+str\n\nvar username = \"jenkins\"\nvar password = \"jenkins\"\nvar auth = \"Basic \" + new Buffer(username + \":\" + password).toString(\"base64\");\nmsg.headers = {\n        'content-type':'application/x-www-form-urlencoded',\n        'Authorization':auth\n    \n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 740,
        "wires": [
            [
                "7965eef7.d3527",
                "61423d22.571454"
            ]
        ]
    },
    {
        "id": "8be6b477.ce0b98",
        "type": "http response",
        "z": "ccf72283.cbb12",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 740,
        "wires": []
    },
    {
        "id": "7965eef7.d3527",
        "type": "http request",
        "z": "ccf72283.cbb12",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "http://builder:8080/job/albatross-dummy/build",
        "tls": "",
        "x": 613.5,
        "y": 741,
        "wires": [
            [
                "8be6b477.ce0b98"
            ]
        ]
    },
    {
        "id": "61423d22.571454",
        "type": "debug",
        "z": "ccf72283.cbb12",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 610,
        "y": 800,
        "wires": []
    },
    {
        "id": "55c83162.801f2",
        "type": "http request",
        "z": "ccf72283.cbb12",
        "name": "",
        "method": "use",
        "ret": "txt",
        "url": "{{{callback}}}",
        "tls": "",
        "x": 710,
        "y": 500,
        "wires": [
            [
                "ef8a1f83.198be",
                "dcb9cee8.75f1"
            ]
        ]
    },
    {
        "id": "dcb9cee8.75f1",
        "type": "debug",
        "z": "ccf72283.cbb12",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 850,
        "y": 560,
        "wires": []
    },
    {
        "id": "5b8157a1.738c78",
        "type": "debug",
        "z": "ccf72283.cbb12",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 630,
        "y": 560,
        "wires": []
    },
    {
        "id": "646c6420.c87b8c",
        "type": "catch",
        "z": "ccf72283.cbb12",
        "name": "on-error",
        "scope": null,
        "x": 1090,
        "y": 60,
        "wires": [
            [
                "d46c130c.955bc"
            ]
        ]
    },
    {
        "id": "b445bd11.7179f",
        "type": "http response",
        "z": "ccf72283.cbb12",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1498,
        "y": 60,
        "wires": []
    },
    {
        "id": "d46c130c.955bc",
        "type": "function",
        "z": "ccf72283.cbb12",
        "name": "message",
        "func": "msg.payload = {\n    \"error\": msg.error.message\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1303,
        "y": 59,
        "wires": [
            [
                "b445bd11.7179f",
                "fe74a6ba.d8de88"
            ]
        ]
    },
    {
        "id": "fe74a6ba.d8de88",
        "type": "debug",
        "z": "ccf72283.cbb12",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1496,
        "y": 117,
        "wires": []
    },
    {
        "id": "4a65ddc3.fb5ba4",
        "type": "catch",
        "z": "c4d1768a.eec298",
        "name": "on-error",
        "scope": null,
        "x": 950,
        "y": 40,
        "wires": [
            [
                "bcbef31e.5a438"
            ]
        ]
    },
    {
        "id": "5967f0a6.b772c",
        "type": "http response",
        "z": "c4d1768a.eec298",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1358,
        "y": 40,
        "wires": []
    },
    {
        "id": "bcbef31e.5a438",
        "type": "function",
        "z": "c4d1768a.eec298",
        "name": "message",
        "func": "msg.payload = {\n    \"statys\": 400,\n    \"error\": msg.error.message\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1163,
        "y": 39,
        "wires": [
            [
                "5967f0a6.b772c",
                "94dbfa9d.0a7428"
            ]
        ]
    },
    {
        "id": "94dbfa9d.0a7428",
        "type": "debug",
        "z": "c4d1768a.eec298",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "false",
        "x": 1356,
        "y": 97,
        "wires": []
    },
    {
        "id": "b11e7932.ffe438",
        "type": "file in",
        "z": "c4d1768a.eec298",
        "name": "",
        "filename": "/data/package.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 710,
        "y": 320,
        "wires": [
            [
                "cefa47d1.d4fe68"
            ]
        ]
    },
    {
        "id": "cefa47d1.d4fe68",
        "type": "json",
        "z": "c4d1768a.eec298",
        "name": "",
        "pretty": false,
        "x": 910,
        "y": 320,
        "wires": [
            [
                "6cb2f825.2bcb18"
            ]
        ]
    },
    {
        "id": "6cb2f825.2bcb18",
        "type": "function",
        "z": "c4d1768a.eec298",
        "name": "version",
        "func": "\nvar obj = msg.payload\n\nif (obj !== null) {\n    if (typeof obj == \"string\") {\n        obj = JSON.parse(msg.payload)\n    }\n}\n\nmsg.payload = obj.version\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1100,
        "y": 320,
        "wires": [
            [
                "2de1acbb.f50f94"
            ]
        ]
    },
    {
        "id": "3cb81893.bda6b8",
        "type": "comment",
        "z": "c4d1768a.eec298",
        "name": "Environment",
        "info": "",
        "x": 90,
        "y": 900,
        "wires": []
    },
    {
        "id": "9c1efd33.e82e1",
        "type": "function",
        "z": "c4d1768a.eec298",
        "name": "entry",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 441,
        "y": 969,
        "wires": [
            [
                "15b82b26.5d65d5",
                "8f27da5d.e0a718"
            ]
        ]
    },
    {
        "id": "3c60dbc1.08b1b4",
        "type": "http response",
        "z": "c4d1768a.eec298",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 960,
        "wires": []
    },
    {
        "id": "ad1ab7e2.d5cf98",
        "type": "http in",
        "z": "c4d1768a.eec298",
        "name": "",
        "url": "/env",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 101,
        "y": 969,
        "wires": [
            [
                "9c1efd33.e82e1",
                "15b82b26.5d65d5"
            ]
        ]
    },
    {
        "id": "15b82b26.5d65d5",
        "type": "debug",
        "z": "c4d1768a.eec298",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 481,
        "y": 1009,
        "wires": []
    },
    {
        "id": "8f27da5d.e0a718",
        "type": "function",
        "z": "c4d1768a.eec298",
        "name": "environment",
        "func": "var process = global.get('process');\n\nmsg.payload = process.env;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 960,
        "wires": [
            [
                "3c60dbc1.08b1b4"
            ]
        ]
    }
]